.bg-container{
    background-image: url(https://ik.imagekit.io/Prakashprojects/Revamp_Academy/Todo%20list%20Project/todolistbg.png_updatedAt=1700761069523?updatedAt=1741402877162);
    height: 950px;
    width: 600px;
    background-size: cover;
}
