.bg-container{
    background-image: url(https://ik.imagekit.io/Prakashprojects/Revamp_Academy/Tourism%20projects/taj-mahal?updatedAt=1741304449171);
    width: 500px;
    height: 900px;
    background-size: contain;
    background-repeat: no-repeat;
}