.bg-container{
    background-image: url(https://ik.imagekit.io/Prakashprojects/Revamp_Academy/Tourism%20projects/sea-ocean?updatedAt=1741304415156);
    background-size: cover;
    width: 450px;
    height: 800px;
}