.bg-container{
    background-image: url(https://ik.imagekit.io/Prakashprojects/Assign-6/chatbg.png?updatedAt=1741535148549);
    background-size: cover;
    height: 650px;
    width: 450px;
    background-repeat: no-repeat;
}